<template>
    <div class="p-2 d-flex flex-column flex-fill">

        <div class="mb-2" v-if="schedule && training">
            <div class="">
                <router-link to="/training" class="h4 mb-0 text-white d-flex align-items-center" style="">
                    <i class="bx bx-chevron-left" style="font-size: 20px;color: #FFAD32;"></i>
                    Back
                </router-link>
            </div>

            <h1 class="font-weight-bolder text-white text-center mt-5">Thank You!</h1>
            <div class="h3 font-weight-bold mt-1 text-white text-center">
                Your booking has been confirm.
            </div>

            <!-- <div class="h3 font-weight-bold mt-5 text-white text-center">
                Here Are Your Receipt
            </div> -->

            <div class="d-flex mt-2 mb-1 align-items-center justify-content-between" style="gap:10px">
                <div class="h3 font-weight-bolder text-white mb-0">
                    {{training.tr_name}}
                </div>
                <div class="h3 font-weight-bolder text-white mb-0 d-flex align-items-center">
                    <i class="bx bx-dollar" style="font-size: 20px;" ></i> {{ training.tr_price }}
                </div>
            </div> 

            <div>
                <div class="h5 text-white">
                    {{ moment(schedule.trs_date).format('dddd, DD MMMM YYYY') }}, {{ schedule.trs_time }}
                </div>
                <p class="text-white">
                    {{ training.tr_details }}
                </p>
            </div>

            <div class="d-flex mt-3 mb-1 align-items-center justify-content-between" style="gap:10px">
                <div class="h3 font-weight-bolder text-white mb-0">
                    Pet For Training
                </div> 
            </div>

            <div class="d-flex align-items-center justify-content-between mt-1" style="gap:10px">
                <div class="text-white font-weight-normal h4 mb-0">{{pet.pet_name}}</div>
                <input class="form-radio-input" name="pet-choose" checked type="radio" />
            </div> 

            <div class="h3 mt-3 font-weight-bold text-white mb-0">
                Payment
            </div>
            <p class="text-white mt-1">For payment you can call the trainer.</p>

        </div>

        <div class="mt-auto" v-if="training">
            <hr style="border-color: #FFFFFF;" />
            <div class="d-flex mt-2 mb-1 align-items-center justify-content-between" style="gap:10px">
                <div class="h3 font-weight-bolder text-white mb-0">
                    Total
                </div>
                <div class="h3 font-weight-bolder text-white mb-0 d-flex align-items-center">
                    <i class="bx bx-dollar" style="font-size: 20px;" ></i> {{ training.tr_price }}
                </div>
            </div>

            <div class="" style="margin-top: .5em;">
                <div class="d-flex align-items-center justify-content-between" style="gap:10px"> 
                    <div>
                        <router-link to="/activities" class="text-white d-flex align-items-center"
                            style="padding:.5em 3em;gap:10px;background-color: #1B628C;border: 2px solid #FFAD32;border-radius: 10px;">
                            <div class="h4 text-white mb-0 ml-auto">Back To Home</div>
                        </router-link>
                    </div>
                    <!-- <div>
                        <div class="text-white d-flex align-items-center"
                            style="padding:.5em 3em;gap:10px;background-color: #1B628C;border: 2px solid #FFAD32;border-radius: 10px;">
                            <div class="h4 text-white mb-0 ml-auto">Print Receipt</div>
                        </div>
                    </div> -->
                </div>
            </div>

        </div>

    </div>
</template>

<script>
import store from '@/store'
import moment from 'moment'

export default {
    computed: {
        schedule() {
            return this.invoice?.schedule;
        },
        training() {
            return this.schedule?.training;
        },
        pet() {
            return this.invoice?.pet;
        }
    },
    async mounted() {
        this.invoice = await store.dispatch("training/GetInvoice", this.id);
    },
    data() {
        return {
            moment,
            invoice: null,
            id: this.$route.params.id
        };
    },
}
</script>

<style>
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
</style>