<template>
    <div class="p-2 d-flex flex-column flex-fill">
        
        <div class="mb-2" v-if="schedule && training">
            <div class="">
                <h2 class="h2 text-white font-weight-bolder mb-0 pr-1" style="padding-bottom:.5em;border-bottom: 1px solid #FFAD32;width: fit-content;">Confirmation</h2>
            </div> 

            <div class="d-flex mt-2 mb-1 align-items-center justify-content-between" style="gap:10px">
                <div class="h3 font-weight-bolder text-white mb-0">
                    {{training.tr_name}}
                </div>
                <div class="h3 font-weight-bolder text-white mb-0 d-flex align-items-center">
                    <i class="bx bx-dollar" style="font-size: 20px;" ></i> {{ training.tr_price }}
                </div>
            </div>

            <div>
                <div class="h5 text-white">
                    {{ moment(schedule.trs_date).format('dddd, DD MMMM YYYY') }}, {{ schedule.trs_time }}
                </div>
                <p class="text-white">
                    {{ training.tr_details }}
                </p>
            </div>

            <div class="d-flex mt-3 mb-1 align-items-center justify-content-between" style="gap:10px">
                <div class="h3 font-weight-bolder text-white mb-0">
                    Choose Your Pet For Training
                </div> 
            </div>

            <div class="d-flex align-items-center justify-content-between mt-1" style="gap:10px" v-for="pet in pets">
                <div class="text-white font-weight-normal h4 mb-0">{{pet.pet_name}}</div>
                <input class="form-radio-input" name="pet-choose" v-model="pet_id" :value="pet.pet_id" type="radio" />
            </div> 

            <!-- PAYMENT -->
            <div class="d-flex mt-3 mb-1 align-items-center justify-content-between" style="gap:10px">
                <div class="h3 font-weight-bolder text-white mb-0">
                    Payment
                </div> 
            </div>

            <p class="text-white">For payment you can call the trainer.</p>
                
            <!-- END PAYMENT -->
 
        </div>

        <div class="mt-auto">
            <hr style="border-color: #FFAD32;" />
            <div class="text-white">Total Payment</div>

            <div class="" style="margin-top: .5em;">
                <div class="d-flex align-items-center justify-content-between" style="gap:10px">
                    <div class="h3 font-weight-bolder text-white mb-0 d-flex align-items-center">
                        <i class="bx bx-dollar" style="font-size: 20px;" ></i> {{training.tr_price}}
                    </div>
                    <div style="cursor: pointer;" @click="bookTraining()">
                        <div class="text-white d-flex align-items-center" style="padding:.5em 3em;gap:10px;background-color: #1B628C;border: 2px solid #FFAD32;border-radius: 10px;">
                            <div class="h4 text-white mb-0 ml-auto">Confirm</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</template>

<script>
import store from '@/store'
import moment from 'moment'

import Cookies from 'universal-cookie'
let cookies = new Cookies()

import Swal from 'sweetalert2'

export default {
    computed: { 
        schedule(){
            return store.state.training.SCHEDULE
        },
        training(){
            return this.schedule?.training
        },
        pets(){
            return store.state.pet.PET
        }
    },
    methods: {
        bookTraining(){
            let payload = new FormData()
            payload.append('inp[trs_id]', this.id)
            payload.append('inp[trb_user_id]', cookies.get('token'))
            payload.append('inp[trb_pet_id]', this.pet_id)

            if(this.pet_id){
                store.dispatch('training/BookTraining', payload).then((res) => {
                    this.$router.push(`/training/invoice/${res.id}`)
                })
            } else {
                Swal.fire('Please choose your pet for training.')
            }
        }
    },
    mounted(){
        store.dispatch('training/GetSchedule', this.id)
        store.dispatch('pet/GetPetList', {
            user_id: cookies.get('token')
        })
    },
    data(){
        return {
            moment,
            pet_id: null,
            id: this.$route.params.id
        }
    }
}
</script>

<style>
input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
</style>