<template>
    <div :style="`overflow: hidden;${isMobile ? '' : 'margin-top:9em'}`">
        <div class="row align-items-center" style="gap:20px 0" v-if="!isMobile">
            <div class="col-lg-6">
                <img src="@/assets/img_assets/logo.png" class="w-100" />
                <h1 class="text-center text-white fw-bolder h2">Pet Goes Social</h1>
                <img src="@/assets/img_assets/png-clipart-google-play-app-store-apple-apple-text-rectangle 1.png" class="w-100" />
            </div>
            <div class="col-lg-6 d-flex">
                <img src="@/assets/img_assets/phoneUI.png" class="w-100 m-auto" />
            </div>
        </div>
        <div class="row align-items-center" style="gap:20px 0" v-else>
            <div class="col-lg-6 d-flex">
                <img src="@/assets/img_assets/phoneUI.png" class="w-100 m-auto" />
            </div>
            <div class="col-lg-6">
                <img src="@/assets/img_assets/logo.png" class="w-100" />
                <h1 class="text-center text-white h4" style="margin-top:-.7em">Pet Goes Social</h1>
                <img src="@/assets/img_assets/png-clipart-google-play-app-store-apple-apple-text-rectangle 1.png" class="w-100" />
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        isMobile: {
            type: Boolean,
            default: false
        }
    }
}

</script>