<template>
    <div style="background-color: #291B04;">
        <div class="container-lg px-2 py-3 pb-5">
            <div class="row" style="gap:30px 0">
                <div class="col-lg-5 px-3">
                    <div class="d-flex flex-column align-items-center" style="gap:10px">
                        <img class="w-100" src="@/assets/img_assets/logo.png" />
                        <h3 class="fw-bold text-white h2" style="margin-top: -1em;" v-if="!isMobile">Pet Goes Social</h3>
                        <h3 class=" text-white h4" style="margin-top: -1em;" v-else>Pet Goes Social</h3>
                    </div>
                    <p class="text-white mt-3" style=";font-size:15px">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
                    </p>
                    
                    <div class="my-4 text-white" style=";font-size:15px">
                        +1 1234-4567-23
                    </div>
                    <div class="mb-4 text-white" style=";font-size:15px">
                        Location Nameless St, Block Unkown, Singapore
                    </div>
                    <div class="text-white" style=";font-size:15px">
                        mongrela.org@gmail.com
                    </div>
                </div>
                <div class="col-lg my-auto px-3">
                    <h3 class="fw-bolder text-white">Subscribe to Our Newsletter</h3>
                    <div class="d-flex flex-wrap mt-2" style="gap:10px">
                        <div class="flex-fill">
                            <input class="form-control" placeholder="Email Address" style="border: 2px solid #FFAD32;background: transparent;color: white;" />
                        </div>
                        <button style="background: #F29D38;border: unset;" class="text-white rounded font-weight-bold" >
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    props: {
        isMobile: {
            type: Boolean,
            default: false
        }
    }
}

</script>