<template>
    <div class="position-relative" :style="`overflow:hidden;${!isMobile ? 'margin-top:8em' : ''}`">
        <div class="row" :style="`gap: ${isMobile ? '10' : '20'}px 0`">
             <div class="col-8">
                <img src="@/assets/img_assets/imgcar1.png" class="w-100 h-100" style="object-fit: cover;" />
             </div>
             <div :class="`col-4 ${isMobile ? 'px-0' : ''}`">
                <img src="@/assets/img_assets/imgcar2.png" class="w-100 h-100" style="object-fit: cover;" />
             </div>
        </div>
        <div :class="`row ${isMobile ? 'my-2' : 'my-4'}`" :style="`gap: ${isMobile ? '10' : '20'}px 0`">
             <div class="col-4">
                <img src="@/assets/img_assets/imgcar3.png" class="w-100 h-100" style="object-fit: cover;" />
             </div>
             <div :class="`col-4 d-flex flex-column ${isMobile ? 'px-0' : ''}`" :style="`gap: ${isMobile ? '10' : '20'}px 0`">
                <img src="@/assets/img_assets/imgcar4.png" class="w-100 flex-fill" style="object-fit: cover;" />
                <img src="@/assets/img_assets/imgcar5.png" class="w-100 flex-fill" style="object-fit: cover;" />
            </div>
            <div class="col-4">
                 <img src="@/assets/img_assets/imgcar6.png" class="w-100 h-100" style="object-fit: cover;" />
             </div>
        </div>
        <div class="row" :style="`gap: ${isMobile ? '10' : '20'}px 0`">
            <div class="col-4">
               <img src="@/assets/img_assets/imgcar7.png" class="w-100 h-100" style="object-fit: cover;" />
            </div>
             <div :class="`col-8 ${isMobile ? 'px-0' : ''}`">
                <img src="@/assets/img_assets/imgcar8.png" class="w-100 h-100" style="object-fit: cover;" />
             </div>
        </div>
        <div class="position-absolute w-100 h-100 d-flex" style="background:rgba(0, 80, 113, 0.55);top:0">
            <img src="@/assets/img_assets/logo.png" class="m-auto w-100" :style="`max-width: ${isMobile ? '350' : '800'}px;`" />
        </div>
    </div>
</template>

<script>

export default {
    props: {
        isMobile: {
            type: Boolean,
            default: false
        }
    }
}

</script>