<template>
    <nav class="navbar navbar-expand-lg  position-absolute w-100" style="top:0">
        <div class="container-lg">
            <span class="navbar-brand" href="#">
                <img src="@/assets/img_assets/logo.png" style="max-height: 60px;" />
            </span>
            <div class="navbar-toggler" style="border: unset;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <router-link to="/login" class="btn text-white d-flex align-items-center" style="background-color: #187294;font-size: 18px;">
                    <span class="h5 mr-1 text-white mb-0" >
                        Login
                    </span>
                    <i class="bx bx-arrow-to-right text-white"></i>
                </router-link>
            </div>
            <!-- <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white  h4 mb-0" aria-current="page" href="#">Home</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link text-white  h4 mb-0" aria-current="page" href="#">About</a>
                    </li> 
                    <li class="nav-item">
                        <a class="nav-link text-white  h4 mb-0" aria-current="page" href="#">Contact Us</a>
                    </li> 
                </ul>
            </div> -->
        </div>
    </nav>
</template>