<template>
    <div :class="`p-2 ${$isMobile() ? '' : 'container-lg'}`" v-if="shelter">

        <!-- header -->
        <div :class="`p-1`" :style="`border-radius: 10px;${$isMobile() ? 'border:1px solid #FFAD32' : ''}`">
            <div class="d-flex">
                <img style="height:150px !important;width:150px !important;object-fit:cover"
                    class="rounded-circle m-auto" :src="shelter.shelter_picture" v-if="$isMobile()" />
                <img :src="shelter.shelter_picture"
                    style="aspect-ratio:1/1;width:250px;background: #FFFFFF;object-fit: cover;" class="m-auto" v-else />
            </div>

            <div class="text-white text-center my-1 px-2">
                <div class="d-flex align-items-center justify-content-center" style="gap:10px">
                    <div :class="`${$isMobile() ? 'h2' : 'display-5'} text-white font-weight-bolder mb-0`">{{
                        shelter.shelter_name }}</div>
                    <router-link :to="`/chats/${shelter.user_id}`" v-if="user.user_id != shelter.user_id">
                        <div class="text-white d-flex align-items-center"
                            style="gap:10px;background-color: #1B628C;border: 2px solid #FFAD32;border-radius: 20px;padding:.5em 1em">
                            <i class="bx bxs-message-dots" style="font-size: 18px;cursor: pointer;color: #FFAD32;"></i>
                        </div>
                    </router-link>
                    <router-link :to="`/shelter-register`" v-else>
                        <div class="text-white d-flex align-items-center"
                            style="gap:10px;background-color: #1B628C;border: 2px solid #FFAD32;border-radius: 20px;padding:.5em 1em">
                            <i class="bx bxs-edit" style="font-size: 18px;cursor: pointer;color: #FFAD32;"></i>
                        </div>
                    </router-link>
                </div>
                <p :class="`mt-1 ${$isMobile() ? '' : 'h3 fw-normal text-white'}`">
                    {{ shelter.shelter_details }}
                </p>

                <h3 :class="`font-weight-bold text-white ${$isMobile() ? '' : 'mt-2'}`">{{ shelter.shelter_location }}
                </h3>
                <h3 class="font-weight-bold text-white mb-0">{{ shelter.shelter_phone }}</h3>
            </div>

            <div class="d-flex">
                <div class="badge bg-danger m-auto" v-if="shelter.is_approved == 'n'">
                    Waiting for approval
                </div>
            </div>
        </div>
        <!-- end header -->

        <!-- services -->
        <div class="my-3" v-if="$isMobile()">
            <h3 class="font-weight-bold text-white">Choose Service</h3>
            <div class="d-flex align-items-center justify-content-center flex-wrap px-2 " style="gap:10px 30px">
                <router-link :to="`/shelter/volunteer/${id}`" class="d-flex flex-column align-items-center">
                    <div class="rounded-circle d-flex" style="width: 60px;height:60px;">
                        <img src="@/static/img_assets/Handshake.png" class="w-100 m-auto" />
                    </div>
                    <div class="text-center font-weight-bolder h4 text-white" style="margin-top:.5em">Volunteer</div>
                </router-link>
                <router-link :to="`/shelter/donate/${id}`" class="d-flex flex-column align-items-center">
                    <div class="rounded-circle d-flex" style="width: 60px;height:60px;">
                        <img src="@/static/img_assets/Money.png" class="w-100 m-auto" />
                    </div>
                    <div class="text-center font-weight-bolder h4 text-white" style="margin-top:.5em">Donate</div>
                </router-link>
                <router-link :to="`/shelter/adopt/${id}`" class="d-flex flex-column align-items-center">
                    <div class="rounded-circle d-flex" style="width: 60px;height:60px;">
                        <img src="@/static/img_assets/Dog Paw Print.png" class="w-100 m-auto" />
                    </div>
                    <div class="text-center font-weight-bolder h4 text-white" style="margin-top:.5em">Adopt</div>
                </router-link>
            </div>
        </div>
        <!-- end services -->

        <div class="text-white mt-5">
            <h2 class="text-white font-weight-bolder">Our Gallery</h2>

            <div :class="`${$isMobile() ? 'd-flex flex-wrap align-items-center' : 'row'} mt-1`"
                :style="`gap:10px ${$isMobile() ? '' : '0'}`">
                <div v-if="user.user_id == shelter.user_id" @click="selectPicture()" class="d-flex"
                    style="background-color: #D9D9D9;border-radius: 10px;height: 100px;width: 100px;object-fit: cover;">
                    <i class="bx bx-plus m-auto" style="font-size: 42px;color: rgb(80, 80, 80);"></i>
                </div>
                <div v-for="item in gallery" :class="`${$isMobile() ? 'position-relative' : 'col-lg-3'}`">
                    <i v-if="user.user_id == shelter.user_id" @click="deleteGallery(item.shg_id)"
                        class="bx bxs-trash text-danger position-absolute"
                        style="font-size: 20px;right:10px;bottom:10px"></i>
                    <img @click="changeImage(item)" :src="item.shg_picture" class=""
                        :style="`background-color: #D9D9D9;border-radius: 10px;object-fit: cover;${$isMobile() ? 'height: 100px;width: 100px;' : 'width:100%;height:100%'}`" />
                </div>
            </div>
        </div>

        <div v-if="!$isMobile()">

            <div class="position-relative container-lg mt-5 px-0">
                <img src="@/static/img_assets/image.png" class="position-absolute w-100 h-100" />
                <div class="ml-2 px-1 py-4 position-relative" style="z-index: 1;">
                    <div class="h1 text-center text-white mb-3">Activities</div>
                    <div>
                        <div class="h1 text-white">Adoption Center</div>
                        <hr />
                        <div class="notice-boards" ref="adoption" style="gap:30px;">
                            <div v-for="item in adoption">
                                <div class="p-1"
                                    style="border-radius: 10px;border:2px solid #FFAD32;width:400px;background-color: rgba(0,0,0,.1);">
                                    <div class="d-flex align-items-center py-1 px-1" style="gap:10px 20px">
                                        <div>
                                            <img :src="item.sha_picture ? item.sha_picture : default_img"
                                                class="rounded-circle"
                                                style="height:100px;aspect-ratio:1/1;background: white;" />
                                        </div>
                                        <div>
                                            <h3 class="text-white h5 mb-0">{{ item.sha_name }}</h3>
                                            <h3 class="text-white h4 text-truncate" style="margin: .2em 0 !important;">
                                                {{ item.sha_species }}
                                            </h3>
                                            <h3 class="text-white h5">{{ item.sha_age }} Months, {{ item.sha_gender }}
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-center" style="gap:10px">
                                        <div class="btn px-1" style="
                                            border-radius: 15px;
                                            border: 2px solid #FFAD32;
                                            background: #005071;
                                            color: white;
                                        " @click="reqAdoption(item)" v-if="!applied_adoption.includes(item.sha_id)">
                                            Request Adoption
                                        </div>
                                        <div class="btn px-1" style="
                                            border-radius: 15px;
                                            border: 2px solid #FFAD32;
                                            background: #005071;
                                            color: white;
                                        " v-else>
                                            Already Requested
                                        </div>
                                        <div class="btn px-1" style="
                                            border-radius: 15px;
                                            border: 2px solid #FFAD32;
                                            background: #005071;
                                            color: white;
                                        " @click="openModal(item, 'adoption')"
                                            v-if="!online_pets.includes(item.sha_id)">
                                            Be Online Parent
                                        </div>
                                        <router-link class="btn px-1" :to="`/shelter/adopt/detail/${item.sha_id}`"
                                            style="
                                            border-radius: 15px;
                                            border: 2px solid #FFAD32;
                                            background: #005071;
                                            color: white;
                                        " v-else>
                                            You Are The Online Parent
                                        </router-link>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <div @click="scrollLeft('adoption')" class="d-flex align-items-center h2 text-white"
                                style="gap:10px;cursor: pointer;">
                                <i class="ti ti-chevron-left" style="font-size: 40px;"></i>
                                <div>Previous</div>
                            </div>
                            <div @click="scrollRight('adoption')" class="d-flex align-items-center h2 text-white"
                                style="gap:10px;cursor: pointer;">
                                <div>Next</div>
                                <i class="ti ti-chevron-right" style="font-size: 40px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="h1 text-white">Volunteering</div>
                        <hr />
                        <div class="notice-boards" ref="volunteer" style="gap:30px;">
                            <div v-for="item in volunteer">
                                <div class="p-1"
                                    style="border-radius: 10px;border:2px solid #FFAD32;width:400px !important;background-color: rgba(0,0,0,.1);">
                                    <img v-if="item.shv_picture" class="w-100 rounded mb-1"
                                        style="aspect-ratio:4/1;object-fit: cover;background:white"
                                        :src="item.shv_picture" />

                                    <div class="d-flex align-items-center" style="gap:10px 20px">
                                        <div class="h3 text-white mb-0">{{ item.shv_title }}, {{ item.shv_cause }}</div>
                                    </div>

                                    <div class="text-white h5" style="margin-top: .5em;">
                                        {{ moment(item.shv_date).format('dddd, DD MMMM YYYY') }}, {{ item.shv_time }}
                                    </div>
                                    <div class="text-white h5" style="margin-top: .5em;">{{ item.shv_location }}</div>

                                    <div class="text-white h5 font-weight-bolder" style="margin-top: 1em;">Details:
                                    </div>

                                    <p class="text-white" style="margin-top: .5em;">
                                        {{ item.shv_details }}
                                    </p>

                                    <div class="d-flex align-items-center justify-content-center" style="gap:10px">
                                        <div class="btn py-1 px-3" style="
                                            border-radius: 15px;
                                            border: 2px solid #FFAD32;
                                            background: #005071;
                                            color: white;
                                        " @click="openModal(item, 'volunteer')" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasExample">
                                            Volunteer
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <div @click="scrollLeft('volunteer')" class="d-flex align-items-center h2 text-white"
                                style="gap:10px;cursor: pointer;">
                                <i class="ti ti-chevron-left" style="font-size: 40px;"></i>
                                <div>Previous</div>
                            </div>
                            <div @click="scrollRight('volunteer')" class="d-flex align-items-center h2 text-white"
                                style="gap:10px;cursor: pointer;">
                                <div>Next</div>
                                <i class="ti ti-chevron-right" style="font-size: 40px;"></i>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="h1 text-white">Donation</div>
                        <hr />
                        <div class="notice-boards" ref="donation" style="gap:30px;">
                            <div v-for="item in donation">
                                <div class="p-1" style="border-radius: 10px;border:2px solid #FFAD32;width: 400px;">
                                    <img v-if="item.shd_picture" class="w-100 rounded mb-1"
                                        style="max-height: 100px;object-fit: cover;background-color: white;"
                                        :src="item.shd_picture" />

                                    <div class="d-flex align-items-center justify-content-between" style="gap:10px">
                                        <div class="h3 text-white mb-0">{{ item.shd_title }}</div>
                                    </div>

                                    <div class="d-flex align-items-center" style="gap:10px">
                                        <div class="my-1 progress progress-bar-warning border flex-fill">
                                            <div class="progress-bar " role="progressbar" aria-valuenow="65"
                                                aria-valuemin="65" aria-valuemax="100"
                                                :style="`width: ${((item.shd_raised ? item.shd_raised : 0) / item.shd_fund_pledge) * 100}%`">
                                            </div>
                                        </div>
                                        <h5 class="mb-0 text-white">{{ ((item.shd_raised ? item.shd_raised : 0) /
                                            item.shd_fund_pledge) * 100 }}%</h5>
                                    </div>

                                    <div class="row" style="gap:10px 0">
                                        <div class="col-6">
                                            <div class="text-white h5 mb-0">Pledge: $ $ {{ item.shd_fund_pledge }},00
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-white h5 mb-0">Raised: $ {{ (item.shd_raised ?
                                                item.shd_raised : 0) }},00</div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-white h5 mb-0">Donators: {{ item.donators.length }}</div>
                                        </div>
                                    </div>

                                    <div class="text-white h5 font-weight-bolder" style="margin-top: 1em;">Details:
                                    </div>

                                    <p class="text-white" style="margin-top: .5em;">
                                        {{ item.shd_details }}
                                    </p>

                                    <div class="d-flex align-items-center justify-content-center" style="gap:10px">
                                        <div class="btn py-1 px-3" style="
                                            border-radius: 15px;
                                            border: 2px solid #FFAD32;
                                            background: #005071;
                                            color: white;
                                        " @click="openModal(item, 'donation')" data-bs-toggle="offcanvas"
                                            data-bs-target="#offcanvasExample">
                                            Donate
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-1">
                            <div @click="scrollLeft('donation')" class="d-flex align-items-center h2 text-white"
                                style="gap:10px;cursor: pointer;">
                                <i class="ti ti-chevron-left" style="font-size: 40px;"></i>
                                <div>Previous</div>
                            </div>
                            <div @click="scrollRight('donation')" class="d-flex align-items-center h2 text-white"
                                style="gap:10px;cursor: pointer;">
                                <div>Next</div>
                                <i class="ti ti-chevron-right" style="font-size: 40px;"></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- -------------------------------------------------------- -->

            <b-modal title="Online Adoption" centered content-class="blue-modal" header-class="" hide-footer hide-header
                v-model="isModalOpenAdoption">

                <div class="d-flex mt-1">
                    <img :src="isShown.sha_picture ? isShown.sha_picture : default_img" class="rounded-circle m-auto"
                        style="height:100px;width:100px" />
                </div>

                <div class="text-center my-1">
                    <h3 class="text-white h4 mb-0">{{ isShown.sha_name }}</h3>
                    <h3 class="text-white h4 " style="margin: .25em 0 !important;">{{ isShown.sha_species }}</h3>
                    <h3 class="text-white h4 mb-0">{{ isShown.sha_age }} Months, {{ isShown.sha_gender }}</h3>
                    <p class="mt-1">
                        {{ isShown.sha_bio }}
                    </p>
                </div>

                <div class="mt-3 h4 text-white font-weight-bolder">Would You Like To Be My Online Parent?</div>
                <h3 class="text-white h5 mb-0">How Much Would You Like To Provide Me Per Month?</h3>
                <input type="number" class="form-control mb-2 text-center" style="background-color: transparent;color: white;
                border:unset;border-bottom: 1px solid white !important;border-radius: unset;"
                    v-model="donating_amount" />

                <div class="d-flex flex-wrap align-items-center justify-content-between mb-1" style="gap:10px">
                    <div class="btn px-3 ms-auto" style="
                        border-radius: 15px;
                        border: 2px solid #FFAD32;
                        background: #005071;
                        color: white;
                    " @click="donateNow()">
                        Donate
                    </div>
                </div>
            </b-modal>
        </div>


        <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasExample"
            aria-labelledby="offcanvasExampleLabel"
            style="background-color: #1B628C;border-radius: 10px 10px 0 0;bottom: 0;height: auto !important;">
            <div :class="`offcanvas-body ${$isMobile() ? '' : 'container-lg'}`">
                <div class="px-2 py-3" v-if="isModalOpenDonation">
                    <img class="w-100 rounded mb-1" v-if="isShown.shd_picture"
                        style="aspect-ratio: 4/1;object-fit: cover;" :src="isShown.shd_picture" />

                    <div class="h3 text-white mb-0">{{ isShown.shd_title }}</div>

                    <div class="d-flex align-items-center" style="gap:10px">
                        <div class="my-1 progress progress-bar-warning border flex-fill">
                            <div class="progress-bar " role="progressbar" aria-valuenow="65" aria-valuemin="65"
                                aria-valuemax="100"
                                :style="`width: ${((isShown.shd_raised ? isShown.shd_raised : 0) / isShown.shd_fund_pledge) * 100}%`">
                            </div>
                        </div>
                        <h5 class="mb-0 text-white">{{ ((isShown.shd_raised ? isShown.shd_raised : 0) /
                            isShown.shd_fund_pledge) * 100}}%</h5>
                    </div>

                    <div class="row" style="gap:10px 0">
                        <div class="col-6">
                            <div class="text-white h5 mb-0">Pledge: $ {{ isShown.shd_fund_pledge }},00</div>
                        </div>
                        <div class="col-6">
                            <div class="text-white h5 mb-0">Raised: $ {{ (isShown.shd_raised ? isShown.shd_raised :
                                0)}},00</div>
                        </div>
                        <div class="col-6">
                            <div class="text-white h5 mb-0">Donators: 0</div>
                        </div>
                    </div>

                    <div class="text-white h5 font-weight-bolder" style="margin-top: 1em;">Details: </div>

                    <p class="text-white" style="margin-top: .5em;">
                        {{ isShown.shd_details }}
                    </p>

                    <div class="mt-3 h3 text-white text-center font-weight-bolder">How Much Would You Like to Donate?
                    </div>
                    <input type="number" v-model="donating_amount" class="form-control mb-2 text-center" style="background-color: transparent;color: white;
                    border:unset;border-bottom: 1px solid white !important;border-radius: unset;" />

                    <div class="d-flex flex-wrap align-items-center justify-content-center" style="gap:10px">
                        <div class="btn px-3" style="
                            border-radius: 15px;
                            border: 2px solid #FFAD32;
                            background: #C10000;
                            color: white;
                        " @click="closeModal()" data-bs-dismiss="offcanvas">
                            Cancel
                        </div>
                        <div class="btn px-3" style="
                        border-radius: 15px;
                        border: 2px solid #FFAD32;
                        background: #005071;
                        color: white;
                    " @click="donateNow_donation()" data-bs-dismiss="offcanvas">
                            Donate
                        </div>
                    </div>
                </div>
                <div class=" px-2 py-3" v-if="isModalOpenVolunteer">

                    <img class="w-100 rounded mb-1" v-if="isShown.shv_picture"
                        style="object-fit: cover;aspect-ratio: 4/1;" :src="isShown.shv_picture" />

                    <div class="d-flex align-items-center" style="gap:10px 20px">
                        <div class="h3 text-white mb-0">{{ isShown.shv_title }}, {{ isShown.shv_cause }}</div>
                    </div>

                    <div class="text-white h5" style="margin-top: .5em;">
                        {{ moment(isShown.shv_date).format('dddd, DD MMMM YYYY') }}, {{ isShown.shv_time }}
                    </div>
                    <div class="text-white h5" style="margin-top: .5em;">{{ isShown.shv_location }}</div>

                    <div class="text-white h5 font-weight-bolder" style="margin-top: 1em;">Details: </div>

                    <p class="text-white" style="margin-top: .5em;">
                        {{ isShown.shv_details }}
                    </p>

                    <div class="mt-3 h3 text-white text-center font-weight-bolder">Are You Sure You Want to Volunteer?
                    </div>

                    <div class="d-flex flex-wrap align-items-center justify-content-center" style="gap:10px">
                        <div class="btn px-3" style="
                            border-radius: 15px;
                            border: 2px solid #FFAD32;
                            background: #C10000;
                            color: white;
                        " data-bs-dismiss="offcanvas"  @click="closeModal()" >
                            Cancel
                        </div>
                        <div class="btn px-3" style="
                            border-radius: 15px;
                            border: 2px solid #FFAD32;
                            background: #005071;
                            color: white;
                        " @click="apply_volunteer()" data-bs-dismiss="offcanvas">
                            Volunteer
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <form id="form" v-if="user.user_id == shelter.user_id">
            <input type="file" name="shg_picture" id="shg_picture" class="d-none" accept="image/*"
                @change="onChange(e)" />
        </form>

        <image-viewer-vue v-if="imageViewerFlag" @closeImageViewer="imageViewerFlag = false" :imgUrlList="imgUrlList"
            :index="currentIndex" :title="title" :closable=true :cyclical=false>
        </image-viewer-vue>

    </div>
</template>

<script>

import store from '@/store'
import moment from 'moment'

import Cookies from 'universal-cookie'
let cookies = new Cookies()

export default {
    computed: {
        user() {
            return store.state.auth.USER
        },
        shelter() {
            return store.state.shelter.SHELTER
        },
        gallery() {
            return this.shelter?.gallery
        },
        // adoption_list() {
        //     return store.state.shelter.ADOPTION_LIST
        // },
        // donation_list() {
        //     return store.state.shelter.DONATION_LIST
        // },
        // volunteer_list() {
        //     return store.state.shelter.VOLUNTEER_LIST
        // },
        applied_adoption() {
            return this.user?.applied_adoption?.map(item => (item.sha_id))
        },
        online_pets() {
            return this.user?.online_pets?.map(item => (item.sha_id))
        },
        adoption() {
            return this.shelter?.adoption
        },
        volunteer() {
            return this.shelter?.volunteer
        },
        donation() {
            return this.shelter?.donation
        },
        apply_volunteer() {
            store.dispatch('shelter/ApplyVolunteer', {
                user_id: cookies.get('token'),
                shv_id: this.isShown.shv_id,
                shelter_id: this.id
            }).then(() => {
                this.$router.push('/activities')
            })
        }
    },
    watch: {
        donating_amount(val) {
            if (val > this.isShown.shd_fund_pledge - (this.isShown.shd_raised ? this.isShown.shd_raised : 0)) {
                this.donating_amount = this.isShown.shd_fund_pledge - (this.isShown.shd_raised ? this.isShown.shd_raised : 0)
            }
        }
    },
    methods: {
        changeImage(data, index) {
            this.imageViewerFlag = true
            this.imgUrlList = [data.shg_picture]
        },
        deleteGallery(id) {
            store.dispatch('shelter/DeleteGallery', id).then(() => {
                store.dispatch('shelter/GetShelter', this.id)
            })
        },
        onChange(e) {
            let formData = new FormData($('#form')[0])
            formData.append('inp[shelter_id]', this.id)
            store.dispatch('shelter/SaveGallery', formData).then(() => {
                store.dispatch('shelter/GetShelter', this.id)
            })
        },
        selectPicture() {
            $('#shg_picture').click()
        },
        scrollLeft(item) {
            let scrollContainer = this.$refs.adoption;
            if (item == 'volunteer') {
                scrollContainer = this.$refs.volunteer;
            }
            else if (item == 'donation') {
                scrollContainer = this.$refs.donation;
            }
            scrollContainer.scrollBy({ left: -400, behavior: 'smooth' });
        },
        scrollRight(item) {
            let scrollContainer = this.$refs.adoption;
            if (item == 'volunteer') {
                scrollContainer = this.$refs.volunteer;
            }
            else if (item == 'donation') {
                scrollContainer = this.$refs.donation;
            }
            scrollContainer.scrollBy({ left: 400, behavior: 'smooth' });
        },
        openModal(item, type) {
            this.isShown = item
            this.donating_amount = 0
            this.closeModal()
            if (type == 'adoption') {
                this.isModalOpenAdoption = true
            } else if (type == 'volunteer') {
                this.isModalOpenVolunteer = true
            } else if (type == 'donation') {
                this.isModalOpenDonation = true
            }
        },
        closeModal(){ 
            this.isModalOpenAdoption = false
            this.isModalOpenDonation = false
            this.isModalOpenVolunteer = false
        },
        reqAdoption(item) {
            this.$router.push('/shelter/adopt/form/' + this.id + '/' + item.sha_id)
        },
        donateNow() {
            store.dispatch('shelter/ApplyOnlineParent', {
                user_id: cookies.get('token'),
                sha_id: this.isShown.sha_id,
                shelter_id: this.id,
                nominal: this.donating_amount,
            }).then(() => {
                store.dispatch('auth/GetUserData')
                this.$router.push({
                    path: '/shelter/adopt/invoice/' + this.id, query: {
                        nominal: this.donating_amount,
                        item: this.isShown
                    }
                })
            })
        },
        donateNow_donation() {
            // store.dispatch('shelter/ApplyDonation', ).then(() => {
            this.$router.push({
                path: '/shelter/donate/payment', query: {
                    user_id: cookies.get('token'),
                    shd_id: this.isShown.shd_id,
                    shelter_id: this.id,
                    nominal: this.donating_amount,
                    item: this.isShown
                }
            })
            // })
        }
    },
    mounted() {
        store.dispatch('shelter/GetShelter', this.id)
        // if (!this.$isMobile()) {
        //     store.dispatch('shelter/GetAdoptionList')
        //     store.dispatch('shelter/GetDonationList')
        //     store.dispatch('shelter/GetVolunteerList')
        // }

        $(document).trigger("enhance");
    },
    data() {
        return {
            id: this.$route.params.id,

            imageViewerFlag: false,
            currentIndex: 0,
            title: 'Image Preview',
            imgUrlList: [],
            moment,

            donating_amount: 0,
            isModalOpenAdoption: false,
            isModalOpenVolunteer: false,
            isModalOpenDonation: false,
            isShown: {},
            default_img: 'https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png'
        }
    }
}

</script>

<style>
.blue-modal {
    background-color: #1F9BCE;
    color: white;
    border-radius: 20px;
}
</style>