<template>
    <div>
        <div class="d-flex align-items-center justify-content-center flex-wrap my-2 mt-2" style="gap:10px 10px">
            <!-- <div class="rounded-circle d-flex" style="background-color: #FFAD32;width: 60px;height:60px;">
                <img src="@/static/img_assets/chat.png" class="w-100 m-auto" style="max-width: 30px;" />
            </div> -->
            <router-link to="/walker/list" class="d-flex flex-column align-items-center">
                <div class="rounded-circle d-flex" style="background-color: #FFAD32;width: 60px;height:60px;">
                    <img src="@/static/img_assets/walker.png" class="w-100 m-auto" style="max-width: 30px;" />
                </div>
                <div class="text-center font-weight-bolder h4 text-white" style="margin-top:.5em">Pet Sitting</div>
            </router-link>
            <router-link to="/training" class="d-flex flex-column align-items-center">
                <div class="rounded-circle d-flex" style="background-color: #FFAD32;width: 60px;height:60px;">
                    <img src="@/static/img_assets/trainer.png" class="w-100 m-auto" style="max-width: 30px;" />
                </div>
                <div class="text-center font-weight-bolder h4 text-white" style="margin-top:.5em">Training</div>
            </router-link>
            <div class="d-flex flex-column align-items-center">
                <div class="rounded-circle d-flex" style="background-color: #686569;width: 60px;height:60px;">
                    <img src="@/static/img_assets/groomer.png" class="w-100 m-auto" style="max-width: 30px;" />
                </div>
                <div class="text-center font-weight-bolder h4 text-white" style="margin-top:.5em">Grooming</div>
            </div>
            <div class="d-flex flex-column align-items-center">
                <div class="rounded-circle d-flex" style="background-color: #686569;width: 60px;height:60px;">
                    <img src="@/static/img_assets/hotel.png" class="w-100 m-auto" style="max-width: 30px;" />
                </div>
                <div class="text-center font-weight-bolder h4 text-white" style="margin-top:.5em">Hotel</div>
            </div> 
        </div>
    </div>
</template>