<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />

    <!-- Splash Screen/Loader Styles -->
    <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>loader.css" />

    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,400&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'> 
    <link rel="stylesheet" href="/css/color.css">
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/override.scss">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tabler-icons/1.35.0/iconfont/tabler-icons.min.css" integrity="sha512-tpsEzNMLQS7w9imFSjbEOHdZav3/aObSESAL1y5jyJDoICFF2YwEdAHOPdOr1t+h8hTzar0flphxR76pd0V1zQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    

    <style>
      .hideme
      {
          opacity:0;
          bottom: -4em;
      }
      :root, h1,h2,h3,h4,h5,h6, .h1, .h2, .h3, .h4, .h5, .h6, small, label, div, span, p {
        /* font-family: 'Montserrat', sans-serif !important; */
        font-family: 'Roboto', sans-serif !important;
      }

      .vue-form-wizard .wizard-navigation .wizard-nav li:not(:first-child) a:before {
        content: "" !important; 
      }

      .menu-expanded #side-nav-header, .menu-collapsed .main-menu.expanded #side-nav-header {
        display: block !important;
      }
      .menu-collapsed #side-nav-header {
        display: none !important; 
      }
      .main-menu .navbar-header {
        height: auto !important;
      }
      @media screen and (min-width: 1200px) {
        .menu-collapsed .header-navbar.floating-nav{
          width: 100% !important;
        }
        .header-navbar.floating-nav {
          width: calc(100vw - (100vw - 100%)  - 260px) !important;
        }
        [dir] .header-navbar.floating-nav {
          margin: unset !important;
        }
      }

      .ps-container.main-menu-content.scroll-area.ps {
        height: calc(100vh - 250px) !important;
      }

      @media only screen and (orientation: landscape) and (hover: none) {
          body:focus-within,
          body:focus-within .an-absolutely-positioned-input-ancestor {
              max-height: 53vh;
              overflow: auto;
          }
      }

      body.input_focus :is(
      input[type="text"],
      textarea
      ):focus {position: fixed;} /* position as you need */

    </style>
    <link href="https://unpkg.com/js-offcanvas@1.2.8/dist/_css/prefixed/js-offcanvas.css" rel="stylesheet">


  <title>Mongrela</title>
  </head>
  <body>
    <noscript>
      <strong
        >Please Enable Javascript To Proceed.</strong
      >
    </noscript>
    <div id="loading-bg" style="background:#1F9BCE !important;">
      <div class="loading-logo">
        <img src="logo-color.png" alt="Logo" style="width:100px;height:100px" />
      </div>
      <!-- <div class="loading">
        <div class="effect-1 effects"></div>
        <div class="effect-2 effects"></div>
        <div class="effect-3 effects"></div>
      </div> -->
    </div> 
    <div id="app"></div>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

    <!-- built files will be auto injected -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <!-- <script src="https://unpkg.com/js-offcanvas@1.2.8/dist/_js/js-offcanvas.pkgd.min.js"></script>  -->


    <script>
      $(document).ready(function() {
        // $(document).trigger("enhance");

          /* Every time the window is scrolled ... */
          $(window).scroll( function(){
          
              /* Check the location of each desired element */
              $('.hideme').each( function(i){
                  
                  var bottom_of_object = $(this).position().top + $(this).outerHeight();
                  var bottom_of_window = $(window).scrollTop() + $(window).height();
                  
                  /* If the object is completely visible in the window, fade it it */
                  if( bottom_of_window > bottom_of_object ){
                      
                      $(this).animate({'opacity':'1', 'bottom' : '0'},1500);
                          
                  }
                  
              }); 
          
          });

          var inputs = jQuery('input[type="text"], textarea');
          inputs.each((index, input) => {
              jQuery(input).on('focus', e => {
                  jQuery('body').addClass('input_focus');
              }).on('blur', e => {
                  jQuery('body').removeClass('input_focus');
              });
          });

          
      });
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-85RVSPZCE8"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-85RVSPZCE8');
  </script>
  </body>
</html>
