<template>
    <div :class="`pt-1 px-3 ${$isMobile() ? '' : 'container-lg'}`">

        <div class="">
            <div @click="goBack()" class="h4 mb-0 text-white d-flex align-items-center" style="">
                <i class="bx bx-chevron-left" style="font-size: 20px;color: #FFAD32;"></i>
                Back
            </div>
        </div>

        <h2 class="text-center text-white mt-2">Pledge Donation</h2>

        <form id="frm">

            <div class="d-flex mt-2">
                <div class="m-auto position-relative">
                    <img :src="url ? url : (input_data.shd_picture ? input_data.shd_picture : default_img)" id="user_preview" class="bg-white" 
                        style="border-radius: 10px;height:180px;width:180px;object-fit: cover;" />
                    <div @click="selectPicture()" class="position-absolute d-flex rounded-circle" style="bottom: 10px;right: 10px;background-color: #1B628C;padding:.5em">
                        <i class="bx bxs-camera m-auto" style="font-size: 18px;color: white;"></i>
                    </div>
                    <div id="form">
                        <input type="file" @change="onFileChange" name="shd_picture" id="shd_picture" class="d-none" accept="image/*" />
                    </div>
                </div>
            </div>
            <div class="text-white text-center mt-1">
                *Recommended resolution ratio is 4/1.
            </div>
            <div class="d-flex mt-1">
                <div class="badge badge-danger text-white m-auto" v-if="(!url && !input_data.shd_picture) && isSubmit" 
                    style="margin-top: .5em;">Event picture not valid</div>
            </div>

            <div class="mt-2">
                <label class="h3 text-white">Donation Title</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bx-captions"></i></span>
                    <input class="form-control" placeholder="Donation Title" name="inp[shd_title]" v-model="input_data.shd_title" >
                </div>
                <div class="text-white" style="margin-top: .5em;">*Event name is atleast 2 character</div>
                <div class="badge badge-danger text-white" v-if="!valid.shd_title && isSubmit" style="margin-top: .5em;">Event name not valid, atleast 2 character</div>
            </div> 
            <div class="mt-2">
                <label class="h3 text-white">Cause</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bx-notepad"></i></span>
                    <input class="form-control" placeholder="Cause" name="inp[shd_cause]" v-model="input_data.shd_cause" >
                </div>
                <div class="text-white" style="margin-top: .5em;">*Event cause is atleast 2 character</div>
                <div class="badge badge-danger text-white" v-if="!valid.shd_cause && isSubmit" style="margin-top: .5em;">Event cause not valid, atleast 2 character</div>
            </div> 
            <div class="mt-2">
                <label class="h3 text-white">Fund Pledge</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bx-dollar"></i></span>
                    <input class="form-control" type="number" placeholder="Fund Pledge" name="inp[shd_fund_pledge]" v-model="input_data.shd_fund_pledge" >
                </div> 
                <div class="badge badge-danger text-white" v-if="!valid.shd_fund_pledge && isSubmit" style="margin-top: .5em;">Fund pledge not valid</div>
            </div>  
            <div class="mt-2">
                <label class="h3 text-white">Details</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bx-comment"></i></span>
                    <textarea class="form-control" name="inp[shd_details]" placeholder="Details" v-model="input_data.shd_details"></textarea>
                </div>
                <div class="badge badge-danger text-white" v-if="!valid.shd_details && isSubmit" style="margin-top: .5em;">Details not valid, atleast 8 character</div>
            </div>  
        </form>

        <div class="mt-3 w-100 d-flex flex-column justify-content-center" style="margin-bottom: 3em;gap:10px">
            <button class="btn text-white flex-fill" @click="onSubmit()"
                style="background-color: #187294;height:50px;font-size: 18px;">
                Save
            </button>
        </div>

    </div>
</template>

<script>

import store from '@/store'
import Cookies from 'universal-cookie'
const cookies = new Cookies()

export default {
    computed: {
        user() {
            return store.state.auth.USER
        }, 
        valid(){
            return {
                shd_title : this.input_data.shd_title?.length > 2,
                shd_cause : this.input_data.shd_cause?.length > 2,
                shd_fund_pledge : this.input_data.shd_fund_pledge?.length > 0, 
                shd_details : this.input_data.shd_details?.length > 7,
                picture: this.url || this.input_data.shd_picture
            }
        },
        allValid(){
            let keys = Object.keys(this.valid)
            let valid = true
            keys.forEach(item => {
                valid = valid && this.valid[item]
            })
            return valid
        }
    }, 
    async mounted() {
        if (this.id) {
          this.input_data = await store.dispatch('shelter/GetDonation', this.id)  
        }
    },
    methods: {
        onFileChange(e) {
            const file = e.target.files[0];
            this.url = URL.createObjectURL(file);
        },
        selectPicture(){
            $('#shd_picture').click()
        },
        goBack() {
            this.$router.go(-1)
        },
        onSubmit() {
            this.isSubmit = true
            if(this.allValid){
                let formData = new FormData($('#frm')[0])
                formData.append('inp[shelter_id]', this.shelter_id)
                if(this.id){
                    formData.append('id', this.id)
                }
                store.dispatch('shelter/SaveDonation', formData).then(() => {
                    this.$router.push('/shelter/donate/'+this.shelter_id)
                })
            }
        }
    },
    data() {
        return {
            shelter_id: this.$route.params.shelter_id,
            id: this.$route.params.id,
            input_data: {},
            isSubmit: false,
            url: null,
            default_img: 'https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png'
        }
    }
}

</script>

<style>
.auth-page .btn {
    border-radius: 20px;
}

input:focus, textarea:focus {
    color: white !important;
}

.input-group span {
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid white;
    font-size: 24px;
    color: #1F9BCD;
    background-color: transparent;
}

.input-group input, .input-group textarea {
    margin-left: 0;
    padding-left: 0;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid white;
    height: 40px;
    color: white;
    background-color: transparent !important;
}
</style>