<template>
  <ul>
    <li class="nav-item" v-for="item in items" :key="item.route">
      <hr v-if="item.isDivider"/>
      <router-link v-else :to="item.route" :class="`d-flex align-items-center router-link-active ${currentRoute == item.route ? 'text-primary' : 'text-secondary'}`">
        <i :class="item.icon"></i>
        <span class="menu-title text-truncate">{{item.title}}</span>
      </router-link>
    </li> 
    <!-- <component
      :is="resolveNavItemComponent(item)"
      v-for="item in items"
      :key="item.header || item.title"
      :item="item"
    /> -->
  </ul>
</template>

<script>
import { resolveVerticalNavMenuItemComponent as resolveNavItemComponent } from '@core/layouts/utils'
import { provide, ref } from '@vue/composition-api'
import VerticalNavMenuHeader from '../vertical-nav-menu-header'
import VerticalNavMenuLink from '../vertical-nav-menu-link/VerticalNavMenuLink.vue'
import VerticalNavMenuGroup from '../vertical-nav-menu-group/VerticalNavMenuGroup.vue'

export default {
  components: {
    VerticalNavMenuHeader,
    VerticalNavMenuLink,
    VerticalNavMenuGroup,
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
  },
  computed: {
    currentRoute(){
      return this.$route.path
    }
  },
  setup() {
    provide('openGroups', ref([]))

    return {
      resolveNavItemComponent,
    }
  },
}
</script>
