<template>
  <div
    class="main-menu menu-fixed menu-accordion menu-shadow"
    :class="[
      { 'expanded': !isVerticalMenuCollapsed || (isVerticalMenuCollapsed && isMouseHovered) },
      skin === 'semi-dark' ? 'menu-dark' : 'menu-light'
    ]"
  >
    <!-- main menu header-->
    <div class="navbar-header expanded">
      <slot
        name="header"
        :toggleVerticalMenuActive="toggleVerticalMenuActive"
        :toggleCollapsed="toggleCollapsed"
        :collapseTogglerIcon="collapseTogglerIcon"
      >
        <div class="pr-1" style="margin-top: 2px;" id="side-nav-header">
          <div class="btn w-100 d-flex align-items-center desktop-nav" style="font-size: 11px" @click="toggleCollapsed">
            <i class="bx bx-chevron-left" style="font-size: x-large" v-if="!isVerticalMenuCollapsed"></i>
            Tampil / Sembuyikan Menu
          </div> 

          <hr class="desktop-nav"/>
          <div class="mt-2">
            <div class="d-flex align-items-center" to="/store-profile" style="gap:10px" v-if="user_data && user_data.store">
                <img class="rounded-circle bg-light" :src="user_data.store.store_photo" style="width:30px;height:30px" />
                <div>
                    <h6 class="mb-0 text-truncate" style="font-weight:700;max-width:150px">{{user_data.store.store_name}}</h6>
                    <h6 class="mb-0" style="font-size:10px">Merchant Reguler | <span class="text-primary">Coming Soon</span></h6>
                </div>
            </div>

            <table class="w-100 mt-2" v-if="user_data">
              <tr>
                <td style="padding-bottom:.5em;font-size:13px">Saldo</td>
                <td class="font-weight-bolder text-right" style="font-size:13px">Rp{{new Intl.NumberFormat( { maximumSignificantDigits: 3 }).format(user_data.wallet)}}</td>
              </tr> 
              <tr>
                <td style="padding-bottom:.5em;font-size:13px">Jadwal Buka</td>
                <td class="font-weight-bolder text-right" style="font-size:13px">{{status_buka_hari_ini}}</td>
              </tr> 
              <tr>
                <td style="padding-bottom:.5em;font-size:13px">Total Transaksi</td>
                <td class="font-weight-bolder text-right" style="font-size:13px">Coming Soon</td>
              </tr> 
              <tr>
                <td style="padding-bottom:.5em;font-size:13px">Followers</td>
                <td class="font-weight-bolder text-right" style="font-size:13px">Coming Soon</td>
              </tr> 
            </table>

          </div>

          <hr class="mb-0"/>

        </div>
        <ul class="nav navbar-nav flex-row desktop-nav">
          <div class="btn mt-1 p-0" style="margin-left: 5px; font-size: x-large;" @click="toggleCollapsed" v-if="isVerticalMenuCollapsed">
            <i class="bx bx-chevron-right mx-auto"></i>
          </div> 
        </ul>
      </slot>
    </div>
    <!-- / main menu header-->

    <!-- Shadow -->
    <div
      :class="{'d-block': shallShadowBottom}"
      class="shadow-bottom"
    />

    <!-- main menu content-->
    <vue-perfect-scrollbar
      :settings="perfectScrollbarSettings"
      class="main-menu-content scroll-area"
      tagname="ul"
      @ps-scroll-y="evt => { shallShadowBottom = evt.srcElement.scrollTop > 0 }"
    >
      <vertical-nav-menu-items
        :items="navMenuItems"
        class="navigation navigation-main"
      />
    </vue-perfect-scrollbar>
    <!-- /main menu content-->
  </div>
</template>

<script>
import navMenuItems from '@/navigation/vertical'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import { BLink, BImg } from 'bootstrap-vue'
import { provide, computed, ref } from '@vue/composition-api'
import useAppConfig from '@core/app-config/useAppConfig'
import { $themeConfig } from '@themeConfig'
import VerticalNavMenuItems from './components/vertical-nav-menu-items/VerticalNavMenuItems.vue'
import useVerticalNavMenu from './useVerticalNavMenu'

import store from '@/store/index'
import moment from 'moment'

export default {
  components: {
    VuePerfectScrollbar,
    VerticalNavMenuItems,
    BLink,
    BImg,
  },
  computed: {
    user_data(){
        return store.state.auth.USER ?? {}
    },
    store_work_hour(){
      return this.user_data?.store?.store_work_hour || []
    },
    status_buka_hari_ini(){
      let hari = ['Minggu', 'Senin', 'Selasa', 'Rabu', 'Kamis', 'Jumat', 'Sabtu']
      let dayIdx = moment().day()
      let key = hari[dayIdx].toLowerCase()

      let jadwal_idx = this.store_work_hour.findIndex(item => item.day == key)
      if(jadwal_idx == -1) return `Hari ini Belum set`
      else {
        let jadwal = this.store_work_hour[jadwal_idx]
        if(jadwal.closed) return 'Hari ini tutup'
        else return 'Hari ini buka'
      }
    }
  },
  props: {
    isVerticalMenuActive: {
      type: Boolean,
      required: true,
    },
    toggleVerticalMenuActive: {
      type: Function,
      required: true,
    },
    collapsed: {
      type: Boolean,
      required: true,
    }
  },
  setup(props) {
    const {
      isMouseHovered,
      isVerticalMenuCollapsed,
      collapseTogglerIcon,
      toggleCollapsed,
      updateMouseHovered,
    } = useVerticalNavMenu(props)

    const { skin } = useAppConfig()

    // Shadow bottom is UI specific and can be removed by user => It's not in `useVerticalNavMenu`
    const shallShadowBottom = ref(false)

    provide('isMouseHovered', isMouseHovered)

    const perfectScrollbarSettings = {
      maxScrollbarLength: 60,
      wheelPropagation: false,
    }

    const collapseTogglerIconFeather = computed(() => (collapseTogglerIcon.value === 'unpinned' ? 'CircleIcon' : 'DiscIcon'))

    // App Name
    const { appName, appLogoImage } = $themeConfig.app

    return {
      navMenuItems,
      perfectScrollbarSettings,
      isVerticalMenuCollapsed,
      collapseTogglerIcon,
      toggleCollapsed,
      isMouseHovered,
      updateMouseHovered,
      collapseTogglerIconFeather,

      // Shadow Bottom
      shallShadowBottom,

      // Skin
      skin,

      // App Name
      appName,
      appLogoImage,
    }
  },
  watch: {
    collapsed(val){
      if(val){
        this.toggleCollapsed()
        this.$forceUpdate() 
      }
    }
  } 
}
</script>

<style lang="scss">
@import "~@core/scss/base/core/menu/menu-types/vertical-menu.scss";
</style>
