<template>
     <div :class="`p-2 ${$isMobile() ? '' : 'container-lg'}`">
        <img :src="banner.banner_picture" alt="" class="slide-image w-100" style="aspect-ratio: 16/6;object-fit: cover;" />

        <div class="slide-content mt-3">
            <h2 class="text-white h3">| News</h2>
            <h3 class="text-white display-5">{{ banner.banner_title }}</h3>
            <p class="text-white h3 mb-0">{{ banner.banner_date }}</p>
        </div>

        <hr />

        <div v-html="banner.banner_content" class="mt-1 lead text-white"></div>

    </div>
</template>

<script>
import store from '@/store'

export default {
    computed: {
        banner() {
            return store.state.banners.BANNER
        },
    },
    methods: {

    },
    mounted(){
        store.dispatch('banners/GetBannerID', this.id)
    },
    data() {
        return {
            id: this.$route.params.id,
        }
    }
}
</script>