<template>
    <div class="pt-1 px-3">

        <div class="">
            <div @click="goBack()" class="h4 mb-0 text-white d-flex align-items-center" style="">
                <i class="bx bx-chevron-left" style="font-size: 20px;color: #FFAD32;"></i>
                Back
            </div>
        </div>

        <h2 class="text-center text-white mt-2">Add Pet</h2>

        <form id="frm">
            <div class="d-flex mt-2">
                <div class="m-auto position-relative">
                    <img :src="url ? url : (input_data.sha_picture ? input_data.sha_picture : default_img)" id="user_preview" class="bg-white" 
                        style="border-radius: 10px;height:180px;width:180px;object-fit: cover;" />
                    <div @click="selectPicture()" class="position-absolute d-flex rounded-circle" style="bottom: 10px;right: 10px;background-color: #1B628C;padding:.5em">
                        <i class="bx bxs-camera m-auto" style="font-size: 18px;color: white;"></i>
                    </div>
                    <div id="form">
                        <input type="file" @change="onFileChange" name="sha_picture" id="sha_picture" class="d-none" accept="image/*" />
                    </div>
                </div>
            </div>
            <div class="d-flex mt-1">
                <div class="badge badge-danger text-white m-auto" v-if="(!url && !input_data.sha_picture) && isSubmit" 
                    style="margin-top: .5em;">Pet picture not valid</div>
            </div>

            <div class="mt-2">
                <label class="h3 text-white">Pet Name</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bxs-dog"></i></span>
                    <input class="form-control" placeholder="Pet Name" name="inp[sha_name]" v-model="input_data.sha_name" >
                </div>
                <div class="text-white" style="margin-top: .5em;">*Shelter name is atleast 2 character</div>
                <div class="badge badge-danger text-white" v-if="!valid.sha_name && isSubmit" style="margin-top: .5em;">Shelter name not valid, atleast 2 character</div>
            </div> 
            <div class="mt-2">
                <label class="h3 text-white">Species</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bx-notepad"></i></span>
                    <input class="form-control" placeholder="Species" name="inp[sha_species]" v-model="input_data.sha_species" >
                </div>
                <div class="badge badge-danger text-white" v-if="!valid.sha_species && isSubmit" style="margin-top: .5em;">Pet species not valid</div>
            </div> 
            <div class="mt-2">
                <label class="h3 text-white">Age</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bx-calendar-heart"></i></span>
                    <input class="form-control" type="number" placeholder="Age" name="inp[sha_age]" v-model="input_data.sha_age" >
                </div>
                <div class="badge badge-danger text-white" v-if="!valid.sha_age && isSubmit" style="margin-top: .5em;">Pet age not valid</div>
            </div>  
            <div class="mt-2">
                <label class="h3 text-white">Gender</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bx-male-female"></i></span>
                    <input class="form-control" placeholder="Gender" name="inp[sha_gender]" v-model="input_data.sha_gender" >
                </div>
                <div class="badge badge-danger text-white" v-if="!valid.sha_gender && isSubmit" style="margin-top: .5em;">Pet gender not valid</div>
            </div>  
            <div class="mt-2">
                <label class="h3 text-white">Bio</label>
                <div class="input-group">
                    <span class="input-group-text text-white"><i class="bx bx-comment"></i></span>
                    <textarea class="form-control" name="inp[sha_bio]" placeholder="Bio" v-model="input_data.sha_bio"></textarea>
                </div>
                <div class="badge badge-danger text-white" v-if="!valid.sha_bio && isSubmit" style="margin-top: .5em;">Details not valid, atleast 8 character</div>
            </div> 
        </form> 

        <div class="mt-2 w-100 d-flex flex-column justify-content-center" style="gap:10px">
            <button class="btn text-white flex-fill" @click="onSubmit()" style="background-color: #187294;height:50px;font-size: 18px;">
                Save
            </button> 
        </div>

    </div>
</template>

<script>

import store from '@/store'
import Cookies from 'universal-cookie'
const cookies = new Cookies()

export default {
    computed: {
        user() {
            return store.state.auth.USER
        }, 
        valid(){
            return {
                sha_name : this.input_data.sha_name?.length > 2,
                sha_species : this.input_data.sha_species?.length > 2,
                sha_age : this.input_data.sha_age?.length > 0,
                sha_gender : this.input_data.sha_gender?.length > 1,
                sha_bio : this.input_data.sha_bio?.length > 7,
                picture: this.url || this.input_data.sha_picture
            }
        },
        allValid(){
            let keys = Object.keys(this.valid)
            let valid = true
            keys.forEach(item => {
                valid = valid && this.valid[item]
            })
            return valid
        }
    }, 
    async mounted() {
        if (this.id) {
          this.input_data = await store.dispatch('shelter/GetAdoption', this.id)  
        }
    },
    methods: {
        onFileChange(e) {
            const file = e.target.files[0];
            this.url = URL.createObjectURL(file);
        },
        selectPicture(){
            $('#sha_picture').click()
        },
        goBack() {
            this.$router.go(-1)
        },
        onSubmit() {
            this.isSubmit = true
            if(this.allValid){
                let formData = new FormData($('#frm')[0])
                formData.append('inp[shelter_id]', this.shelter_id)
                if(this.id){
                    formData.append('id', this.id)
                }
                store.dispatch('shelter/SaveAdoption', formData).then(() => {
                    this.$router.push('/shelter/adopt/'+this.shelter_id)
                })
            }
        }
    },
    data() {
        return {
            shelter_id: this.$route.params.shelter_id,
            id: this.$route.params.id,
            input_data: {},
            isSubmit: false,
            url: '',
            default_img: 'https://w7.pngwing.com/pngs/129/292/png-transparent-female-avatar-girl-face-woman-user-flat-classy-users-icon.png'
        }
    }
}

</script>

<style>
.auth-page .btn {
    border-radius: 20px;
}

input:focus, textarea:focus {
    color: white !important;
}

.input-group span {
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid white;
    font-size: 24px;
    color: #1F9BCD;
    background-color: transparent;
}

.input-group input, .input-group textarea {
    margin-left: 0;
    padding-left: 0;
    border: unset;
    border-radius: unset;
    border-bottom: 1px solid white;
    height: 40px;
    color: white;
    background-color: transparent !important;
}
</style>